

.nav-pills {

  min-height: 100vh;


}

.card{

  border-radius: 15px;

}


a.active {

  background-color: $azul_oscuro !important;
  color: $blanco !important;

}


.card-one {
  background-color: $azul_oscuro;
  color: $blanco;
}

.card-two {
  background-color: $azul_oscuro;
  color: $blanco;
}

.card-three {
  background-color: $azul_oscuro;
  color: $blanco;
}

.card-four{
  background-color: $azul_oscuro;
  color: $blanco;
}


.mt-15rem {
  margin-top: 15rem;
}


// footer
.col-md-4:nth-child(even) {
  // background: blue;
}
.col-md-4:nth-child(odd) {
  // background: red;
}

footer {
  border-top: shadow 12px red;
  padding: 2rem 0;
  background-color: $azul_oscuro;
  color: $blanco !important;
  a {
    color: $blanco !important;
  }
}

.footer-column:not(:first-child) {
  padding-top: 2rem;
  @media (min-width: 768px) {
    padding-top: 0rem;
  }
}

.footer-column {
  text-align: center;
  //border: red solid 1px;
  .nav-item {
    .nav-link {
      padding: 0.1rem 0;
    }
    span.nav-link {
      color: $link-light-grey;
    }
    span.footer-title {
      font-size: 14px;
      font-weight: 700;
      color: $blanco;
      text-transform: uppercase;
    }
    .fas {
      margin-right: 0.5rem;
    }
  }
  ul {
    display: inline-block;
    @media (min-width: 768px) {
      text-align: left;
    }
    //border: yellow solid 1px;
  }
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
  background-color: $primary-orange;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: #fff;
  border-radius: 100%;
  outline: 0;
  background-color: $blanco;
}

footer .quick-links {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
}

.copyright {
  color: $blanco;
}

.fa-ellipsis-h {
  color: white;
  padding: 2rem 0;
}

.presetacion {
  height: 400px !important
}

.card-shadow{
  position: absolute;
  content: '';
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, transparent), to(rgba(0, 9, 16, 0.9)));
  background: linear-gradient(to bottom, transparent 40%, rgba(0, 9, 16, 0.9));
}

//navbar

.navbar-public {

  background-color: $azul_oscuro !important;
  padding: 30px;

}

//botones redondos
.redondo{
  width: 25px;
  height: 25px;
}


.btn-large {

  width: 400px;
  height: 50px;

}
