.navbar {
}

.nav-pills {

  min-height: 100vh;


}

.card{

  border-radius: 15px;

}


a.active {

  background-color: $azul_oscuro !important;
  color: $blanco !important;

}


.card-one {
  background-color: $azul_oscuro;
  color: $blanco;
}

.card-two {
  background-color: $azul_oscuro;
  color: $blanco;
}

.card-three {
  background-color: $azul_oscuro;
  color: $blanco;
}

.card-four{
  background-color: $azul_oscuro;
  color: $blanco;
}
