body {

  background-color: $gris_claro !important;
  font-family:  $font-family;

}

a {
  color: $dark !important;
  text-decoration: none !important;
}

button {
  background-color: $azul_oscuro !important;
  border-radius: 15px !important;
}

input {

  border-radius: 15px !important;

}
