
// fuentes
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
$font-family: 'Source Sans Pro', sans-serif;


// colores
$azul: #4F46BA;
$naranaja: #F9896B;
$lila: #B08FF3;
$azul_oscuro: #1B1C31;
$gris: #F6F9FE;
$gris_claro: #E4E9F9;
$dark: black;
$blanco: #fff;

$celeste: #A3E4DB;
$amarillo: #FFBD35;
$venrde: #519259;
$rosa: #FFAFAF;

// footer
$link-light-grey: #6c757d;
$primary-orange: #fec503; //before: fed136
$footer-background-light-grey: #212529;
$footer-background-grey: #1a1d20;
$social-buttons-circle-dark-grey: #1a1d20;



//// card con shadow-smxanadu.home .thumbnailImageWrapper:after {
