
// fuentes
@import url('https://fonts.googleapis.com/css2?family=Pontano+Sans&display=swap');
$font-family: 'Pontano Sans', sans-serif;

// colores
$azul: #4F46BA;
$naranaja: #F9896B;
$lila: #B08FF3;
$azul_oscuro: #1B1C31;
$gris: #F6F9FE;
$gris_claro: #E4E9F9;
